name: build

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  windows_sdk: 22621
  flutter_version: 3.3.7
  release_file_name: arknights-analysis

jobs:
  analyze-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.flutter_version }}
          channel: 'stable'
          cache: true
          cache-key: ${{ runner.os }}-flutter-sdk-v${{ env.flutter_version }}

      - name: Cache pubspec
        id: cache-pubspec
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.FLUTTER_HOME }}/.pub-cache
            **/.flutter-plugins
            **/.flutter-plugin-dependencies
            **/.dart_tool/package_config.json
          key: pubspec-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            pubspec-

      - name: Run pub get
        run: flutter pub get

      - name: Cache build_runner
        id: cache-build-runner
        uses: actions/cache@v3
        with:
          path: |
            **/.dart_tool/build
          key: build-runner-${{ hashFiles('**/asset_graph.json') }}-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            build-runner-

      - name: Run build_runner
        run: flutter packages pub run build_runner build -d

      - name: Run analyze
        run: flutter analyze --fatal-infos

      - name: Run test
        run: flutter test --machine > test-report.json

      - name: Archive report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Flutter Tests
          path: test-report.json
          reporter: flutter-json
          fail-on-error: true

  build-windows:
    if: github.ref == 'refs/heads/master'
    needs: analyze-and-test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - uses: GuillaumeFalourd/setup-windows10-sdk-action@v1.8
        with:
          sdk-version: ${{ env.windows_sdk }}

      - name: Build windows SDK
        shell: bash
        run: |
          cmake -DCMAKE_SYSTEM_VERSION=10.0.${{ env.windows_sdk }}.0
          cmake --build .

      - name: Install flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.flutter_version }}
          channel: 'stable'
          cache: true
          cache-key: ${{ runner.os }}-flutter-sdk-v${{ env.flutter_version }}

      - name: Cache pubspec
        id: cache-pubspec
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.FLUTTER_HOME }}/.pub-cache
            **/.flutter-plugins
            **/.flutter-plugin-dependencies
            **/.dart_tool/package_config.json
          key: pubspec-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            pubspec-

      - name: Run pub get
        run: flutter pub get

      - name: Cache build_runner
        id: cache-build-runner
        uses: actions/cache@v3
        with:
          path: |
            **/.dart_tool/build
          key: build-runner-${{ hashFiles('**/asset_graph.json') }}-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            build-runner-

      - name: Run build_runner
        run: flutter packages pub run build_runner build -d

      - name: Bump build number
        run: |
          flutter pub global activate cider
          cider bump build --build=${{ github.run_number }}

      - name: Build windows
        run: |
          flutter config --enable-windows-desktop
          flutter build windows --release

      - name: Archive release
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: '${{ env.release_file_name }}-windwos.zip'
          directory: build/windows/runner/Release

      - name: Set tag name
        run: echo "tag_name=v$(cider version)" >> $env:GITHUB_ENV

      - name: Publish release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: build/windows/runner/Release/${{ env.release_file_name }}-windwos.zip
          generateReleaseNotes: true
          tag: ${{ env.tag_name }}
          token: ${{ secrets.RELEASE_TOKEN }}
